<style>
    .modal {
        background: rgba(0, 0, 0, 0.5);
        color: black;
    }

    .modal-backdrop {
        display: none;
    }
</style>
<div class="mdl-layout-spacer">
    <ul class="pull-right list-unstyled mt-2">
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li class="dropdown user">
            <a href="#" class="text-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="" id="user-login"></span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" style="left: -60px;">
                <li>
                    <a data-toggle="modal" data-target="#modal-change-password" href="javascript:void(0)"><i class="fa fa-key"></i> Đổi mật khẩu</a>
                </li>
                <li>
                    <a href="/login"><i class="fa fa-arrow-right"></i> Đăng xuất</a>
                </li>
            </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
    </ul>
    <button class="mr-3 btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#modalContribution">
        <i class="fa fa-envelope"></i>
        <b class="">GÓP Ý</b>
    </button>
</div>

<div class="modal fade" id="modalContribution">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Feedback đóng góp, xây dựng phần mềm</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="" style="background-color: #28a745; height: 3px"></div>
            <div class="modal-body">
                <div class="form-group">
                        <label for="">Tên nhân sự</label>
                        <div class="">
                            <input type="text" class="form-control" id="" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Email nhân sự</label>
                        <div class="">
                            <input type="text" class="form-control" id="">
                        </div>
                    </div>
                <div class="form-group">
                        <label for="">Mô tả</label>
                        <div class="">
                            <textarea type="text" class="form-control" id=""></textarea>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="background-color: #efefef;color: rgba(0, 0, 0, 0.5) !important" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success mr-0" onclick="addContribution()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-change-password">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Thay đổi mật khẩu</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="" style="background-color: #28a745; height: 3px"></div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Mật khẩu hiện tại</label>
                    <div class="input-group eye-password">
                        <input class="form-control" type="password" id="txtCurrentPassword" autofocus>
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Mật khẩu mới</label>
                    <div class="input-group eye-password">
                        <input class="form-control" type="password" id="txtNewPassword">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Nhập lại mật khẩu mới</label>
                    <div class="input-group eye-password">
                        <input class="form-control" type="password" id="txtRepeatNewPassword">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="background-color: #efefef;color: rgba(0, 0, 0, 0.5) !important" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success mr-0" onclick="changePassword()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<script src="/JS/HBI/Common/commonFactory.js"></script>
<script>
    $(document).ready(function () {
        $("#user-login").text(localStorage.getItem("username"));
        let action = '/user';
        PostDataAjax(action, {}, function (response) {
            if (response) {
                localStorage.setItem("user", JSON.stringify(response));
            }
            else {

            }
        });
        var userLogin = JSON.parse(localStorage.getItem("user"));

        // [ Show pass ]
        var showPass = 1;
        $('.eye-password a').on('click', function (event) {
            event.preventDefault();
            if (showPass == 0) {
                $(this).parent().parent().find('input').attr('type', 'password');
                $(this).find('i').removeClass('fa-eye');
                $(this).find('i').addClass('fa-eye-slash');
                showPass = 1;
            }
            else {
                $(this).parent().parent().find('input').attr('type', 'text');
                $(this).find('i').removeClass('fa-eye-slash');
                $(this).find('i').addClass('fa-eye');
                showPass = 0;
            }
        });
    });

    function changePassword(){
        let userLogin = JSON.parse(localStorage.getItem("user"));

        let currentPassword = $("#txtCurrentPassword");
        let newPassword = $("#txtNewPassword");
        let reNewPassword = $("#txtRepeatNewPassword");

        if (!CheckNullOrEmpty(currentPassword, "Mật khẩu hiện tại không được để trống"))
            return false;
        if (!CheckNullOrEmpty(newPassword, "Mật khẩu mới không được để trống"))
            return false;
        if (!CheckNullOrEmpty(reNewPassword, "Nhập lại mật khẩu  không được để trống"))
            return false;
        if (currentPassword.val() != userLogin.password){
            toastr.error("Mật khẩu hiện tại không đúng");
            return false;
        }
        if (newPassword.val() != reNewPassword.val()){
            toastr.error("Nhập lại mật khẩu không trùng với mật khẩu mới");
            return false;
        }

        let action = '/system-user/change-password';
        let datasend = {
            username: userLogin.username,
            password: newPassword.val()
        };
        PostDataAjax(action, datasend , function (response) {
            if (response.rs) {
                toastr.success("Thành công", "Cập nhật thành công");
                $("#modal-change-password").modal("hide");   
            }
            else {
                toastr.error("Thất bại", "Cập nhật không thành công");
            }
        });
    }

    function addContribution(){
        toastr.success("Cảm ơn góp ý của bạn. Thanks for your contribution.", "Thành công");
        $("#modalContribution").modal("hide");
    }

</script>