<head>
    <!-- <link rel="stylesheet" href="/stylesheets/footer.css"> -->
    <link rel="stylesheet" href="/Contents/css/sewingRealtime/footer.css">
</head>
<div class="footer">
    <h6><i class="far fa-copyright"></i> Copyright by Bui Dong </h6>
    <h6>Email: bui.dong@hanes.com</h6>
</div>