<head>
    <!-- <link rel="stylesheet" href="/stylesheets/header.css"> -->
    <link rel="stylesheet" href="/Contents/css/sewingRealtime/header.css"> 
</head>
<nav class="navbar">
    <ul class="navbar-menu">
        <li class="navbar-btn-menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"><i class="fa fa-bars"></i>
        </li>
        <li class="navbar-title">Sewing needle realtime</li>
    </ul>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvas">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title">MACHINE CONTROL</h3>
            <div class="navbar-btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvas"><i
                    class="fas fa-times"></i></div>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-menu-item">
                <a href="/innovation/realtime/workcenter">
                    <li class="menu-item"><i class="fas fa-cog"></i>Machine</li>
                </a>
                <a href="/innovation/realtime/dashboard">
                    <li class="menu-item"><i class="fas fa-chart-line"></i>Dashboard</li>
                </a>
                <a href="/innovation/realtime/losstime">
                    <li class="menu-item"><i class="fas fa-hourglass-half"></i> Loss time</li>
                </a>
                <a href="/innovation">
                    <li class="menu-item"><i class="fas fa-home"></i>Trang chủ</li>
                </a>
            </ul>
        </div>
    </div>
</nav>