@font-face {
    font-family: OpenSans;
    src: url(/Contents/fonts/OpenSans/OpenSans-Regular.ttf);
}

.developer{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 15px;
}

.btn{
    border-radius: 0px;
}

.sidebar-header{
    max-width: 100%; 
    min-height: 80px; 
    background-color: #f44336;
    background-size: 400px auto;
}

.mdl-layout__header{
    background-color: #f44336;
}
.form-control{
    border-radius: 0;
}

.btn-light {
    background: #ced6dd;
}

.page-content {
    padding-top: 0 !important;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

textarea {
    resize: vertical;
}

.div-destination .select2-container {
    width: 32.5% !important;
    padding: 0;
}

.div-travel .select2-container {
    width: 100% !important;
    padding: 0;
}

.select2-container--open {
    z-index: 99999;
}

.modal{
    font-family: "OpenSans";
}

.modal-header{
    padding: 1rem;
}

.modal-body{
    padding: 1rem;
}

.modal-footer{
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    margin-top: 0;
}

.modal-xlg {
    /* width: 1150px; */
    width: 95%;
}
.modal-full {
    width: 100%;
}

.modal-90-margin-top {
    width: 90%;
    margin: 50px auto;
}

.modal-100-margin-top {
    width: 100%;
    margin: 50px auto;
}

.mdl-tabs__tab-bar a {
    text-decoration: none;
}

.onscrollbar::-webkit-scrollbar {
    width: 0px;
    /* background-color: #7d7d80; */
}

.part-result {
    border-bottom: 1px dashed yellowgreen;
}

.part-result:hover {
    background: #7d7d80;
    cursor: pointer;
}

.search-image {
    margin: 10px 10px 10px 10px;
    object-fit: contain;
    border-radius: 5px;
    align-self: flex-start;
}

input[type="checkbox"]{
    cursor: pointer;
}

.table-scrollable {}

.sticky-thead {
    position: sticky;
    background: whitesmoke;
    top: 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

@media (max-width: 575.98px) {
    .part-img {
        width: 100%;
    }
    /* .onscrollbar {
        height: 573px;
    } */

    .onscrollbar-user{
        height: 573px;
    }

    .onscrollbar-request{
        height: 320px;
    }

    .onscrollbar-machine{
        height: 390px;
    }

    .onscrollbar-import{
        height: 415px;
    }

    .input-sm-100{
        width: 100%;
    }

    .btn-position{
        margin-top: 10px;
        width: 99%;
    }
}

@media (min-width: 992px) {
    .part-img {
        width: 20%;
    }
    /* .onscrollbar {
        height: 573px;
    } */

    .onscrollbar-user{
        height: 540px;
    }

    .onscrollbar-request{
        height: 490px;
    }

    .onscrollbar-machine{
        height: 490px;
    }

    .onscrollbar-import{
        height: 415px;
    }

    .btn-position{
        margin-top: 24px;
    }
}