<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabric Receive Scan Barcode</title>
    <link rel="stylesheet" href="/Contents/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-indigo.min.css" />

    <link rel="stylesheet" href="/Contents/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Contents/libs/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="/Contents/libs/bootstrap-toastr/toastr.min.css" />
    <link rel="stylesheet" href="/Contents/libs/select2/select2.min.css">
    <link rel="stylesheet" href="/Contents/libs/toggle-switch/toggle-switch.css">
    <link rel="stylesheet" href="/Contents/css/main.css">

    <script src="/Contents/libs/jquery-1.10.2.min.js"></script>
    <script src="/Contents/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Contents/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/Contents/libs/select2/select2.min.js"></script>
    <script src="/Contents/libs/swal.min.js"></script>
    <script defer src="/JS/mdl/material.min.js"></script>

    <style>
        .scanned-table {
            height: 540px;
            overflow: auto;
            border: 1px solid #dddddd;
        }

        .table-kanban tr, .table-kanban th, .table-kanban td {
            text-align: -webkit-center;
        }

        .rounded-circle {
            width: 32px;
            height: 32px;
            border: 1px solid grey;
            background: white;
            border-radius: 50%;
        }

        .txtTime {
            font-size: 20px;
        }

        .red {
            background: red;
        }

        .yellow {
            background: yellow;
        }

        .white {
            background: white;
        }

        .green {
            background: green;
        }

    </style>

</head>
<%
    var ccd_disabled = user.position == "Admin" || user.dept == "Cutting" ? "" : "display-none";
    var wh_disabled = user.position == "Admin" || user.dept == "Warehouse" ? "" : "display-none";
%>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Cutting Fabric Receive</span>
                <%- include ("../../headerTemplate.ejs"); -%>
            </div>
        </header>
        <%- include ("../partials/navTemplate.ejs"); -%>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <%- include ("partialMenuBar.ejs"); -%>
                            </div>
                        </div>
                        <div class="bg-white fabric-receive mt-3">
                            <div class="col-md-12 col-sm-12">
                                <div class="d-flex pr-4 mt-1">
                                    <div class="p-0 mb-3">
                                        <div class="btn-group btn-filter">
                                            <button type="button" class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown">
                                                <span class="fa fa-search"></span> Filter
                                            </button>
                                            <div class="dropdown-menu p-3" style="width: 300px;">
                                                <form class="form-inline" id="">                                                   
                                                    <div class="">
                                                        <div class="w-100">
                                                            <label for="" class="col-form-label">Status</label>
                                                            <div class="input-group w-100">
                                                                <select class="form-control w-100" name="" id="txtFilterStatus">
                                                                    <option value="1"> Done </option>
                                                                    <option value="" selected> All </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="w-100" id="dateValue">
                                                        <div>
                                                            <div class="w-100">
                                                                <p class="mb-1"><strong>Created Date</strong></p>
                                                                <select class="form-control w-100" name="" id="txtFilterTime" onchange="changeDateFilter()">
    
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div id="filterTime" style="display: none">
                                                            <div class="d-flex">
                                                                <div class="">
                                                                    <p class="mb-1"><strong>From Date</strong></p>
                                                                    <input type="text" class="form-control w-100 isDate" id="txtFilterFrom" />
                                                                </div>
                                                                <div class="ml-2">
                                                                    <p class="mb-1"><strong>To Date</strong></p>
                                                                    <input type="text" class="form-control w-100 isDate" id="txtFilterTo" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                               
                                                    <div class="justify-content-between align-items-center mt-3 text-right">
                                                        <button type="button" class="btn btn-success btn-sm" onclick="getListReturnData()">Search</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>                                               
                                    </div>
                                    <div class="ml-2 pt-2" id="filter-area">

                                    </div>
                                </div>
                                <div class="d-flex">
                                    <span class="w-50">
                                        <strong>Danh sách phiếu return vải:</strong> 
                                        <span id="lbSumMarkerData">0</span> phiếu
                                    </span>
                                    <span class="w-50 text-right">
                                        <strong>Lastest update:</strong> 
                                        <span id="lbLastestUpdate"></span>
                                    </span>
                                </div>
                                <div class="col-sm-12 col-md-12 pl-0 pr-0 scanned-table">
                                    <table class="table table-bordered table-scrollable mb-0 table-kanban">
                                        <thead class="sticky-thead">
                                            <th>#</th>                                    
                                            <th>Số phiếu</th>
                                            <th>WH Status</th>
                                            <th>User Update</th>
                                            <th>Date Update</th>
                                            <th></th>
                                        </thead>
                                        <tbody id="fabric-plan-table-body">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </main>
    </div>

    <!-- Modal upload return data -->
    <div class="modal fade" id="modalUploadReturnData" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"><strong>Upload dữ liệu return vải</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="" style="background-color: #28a745; height: 3px"></div>
                <div class="modal-body">
                    <table class="w-100">
                        <tbody>
                            <tr>
                                <label class="drop-file-box">
                                    <span class="fa fa-cloud-upload" aria-hidden="true"></span>
                                    <span>Nhấn vào đây để chọn tập tin <br />Maximum File Size: 5 MB  |  File Format: XLS, XLSX, XLSB</span>
                                    <!-- <input type="file" name="UploadedFile" id="fileFabricReceiveUpload" multiple onchange="uploadExcel()" accept=".xlsx, .xls" style="display: none"> -->
                                    <input type="file" name="UploadedFile" id="fileFabricReturnUpload" multiple onchange="uploadExcelReturnData()" accept=".xlsx, .xls, .xlsb" style="display: none">
                                </label>    
                            </tr>
                            <tr>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <td>Name</td>
                                            <td>Sheets</td>
                                            <td>Header row</td>
                                        </tr>
                                    </thead>
                                    <tbody id="return-file-table-body">

                                    </tbody>
                                </table>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer pr-0">
                    <div class="col-sm-12 col-md-12">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" onclick="saveUploadReturnData()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/Contents/libs/download.min.js"></script>
    <script src="/Contents/libs/bootstrap-toastr/toastr.min.js"></script>
    <script src="/JS/HBI/Common/commonFactory.js"></script>
    <script src="/JS/HBI/Common/enum.js"></script>
    <script src="/JS/HBI/Cutting/returnFabric.js"></script>
</body>

</html>