<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabric Receive Scan Barcode</title>
    <link rel="stylesheet" href="/Contents/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-indigo.min.css" />

    <link rel="stylesheet" href="/Contents/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Contents/libs/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="/Contents/libs/bootstrap-toastr/toastr.min.css" />
    <link rel="stylesheet" href="/Contents/libs/select2/select2.min.css">
    <link rel="stylesheet" href="/Contents/css/main.css">

    <script src="/Contents/libs/jquery-1.10.2.min.js"></script>
    <script src="/Contents/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Contents/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/Contents/libs/select2/select2.min.js"></script>
    <script defer src="/JS/mdl/material.min.js"></script>

    <style>
        .sticky-table {
            height: 394px;
            overflow: auto;
            border: 1px solid #dddddd;
        }

        .sticky-modal-table{
            height: 428px;
            overflow: auto;
            border: 1px solid #dddddd;
        }

        th, td {
            text-align: -webkit-center;
        }

        th, td {
            padding: 1px!important;
        }

        .fabric-roll-table {
            height: 350px;
            overflow: auto;
            border: 1px solid #dddddd;
        }

    </style>

</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Cutting Fabric Receive</span>
                <%- include ("../../headerTemplate.ejs"); -%>
            </div>
        </header>
        <%- include ("../partials/navTemplate.ejs"); -%>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <div class="">
                        <div class="bg-white fabric-receive mt-1">
                            <div class="col-md-12 col-sm-12">
                                <div class="d-flex pr-4 mt-1">
                                    <div class="p-0">
                                        <div class="input-group">
                                            <a class="btn btn-success btn-sm" href='/cutting/fabric-receive'><i class="fa fa-arrow-left"></i> &nbsp; Back</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <div class="panel panel-default mb-0">
                                        <div class="panel-heading text-center p-1"><b>Thông tin phiếu</b></div>
                                        <div class="panel-body pr-0 pl-0">
                                            <div class="form-row">
                                                <div class="col-md-3">
                                                    <label for="">Received Date</label>
                                                    <div class="">
                                                        <input type="text" class="form-control" id="txtReceiveDate" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="">Received Time</label>
                                                    <div class="">
                                                        <input type="text" class="form-control" id="txtReceiveTime" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="">Group</label>
                                                    <div class="">
                                                        <input type="text" class="form-control" id="txtGroup" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="">Cut Date</label>
                                                    <div class="">
                                                        <input type="text" class="form-control" id="txtCutDate" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="">Created Date</label>
                                                    <div class="">
                                                        <input type="text" class="form-control" id="txtCreatedDate" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="">Week</label>
                                                    <div class="">
                                                        <input type="text" class="form-control" id="txtWeek" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="">Note</label>
                                                    <div class="">
                                                        <input type="text" class="form-control" id="txtNote">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default mt-3">
                                        <div class="panel-heading d-flex p-0">
                                            <div class="col-md-6 pt-2">
                                                <b>Danh sách mã vải yêu cầu</b>
                                            </div>
                                            <div class="col-md-6 text-right pr-0">
                                                <button class="btn btn-default btn-sm" onclick="openPreviewTicket()">Preview</button>
                                                <button class="btn btn-success btn-sm" onclick="whSubmitData()">Submit</button>
                                            </div>
                                        </div>
                                        <div class="panel-body p-0">
                                            <div class="col-sm-12 col-md-12 pl-0 pr-0 sticky-table" id="table1">
                                                <table class="table table-hover table-bordered table-scrollable mb-0">
                                                    <thead class="sticky-thead">
                                                        <th>#</th>
                                                        <th>WO</th>
                                                        <th>Ass</th>
                                                        <th>Item color</th>
                                                        <th>Yards</th>
                                                        <th></th>
                                                    </thead>
                                                    <tbody id="fabric-table-body">

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-12 col-md-12 pl-0 pr-0 sticky-table" id="table2">
                                                <table class="table table-hover table-bordered table-scrollable mb-0">
                                                    <thead class="sticky-thead">
                                                        <th>#</th>
                                                        <th>Mã hàng</th>
                                                        <th>WO</th>
                                                        <th>Ass</th>
                                                        <th>Demand yard</th>
                                                        <th>Unipacks</th>
                                                        <th>Yard</th>
                                                        <th>Lbs</th>
                                                        <th>Grade</th>
                                                        <th>Location</th>
                                                        <th>Shade</th>
                                                        <th>Scanned Staus</th>
                                                        <th>Scanned Time</th>
                                                    </thead>
                                                    <tbody id="table2-fabric-table-body">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div class="modal fade" id="modalFabricRoll" tabindex="-1" aria-hidden="false">
        <div class="modal-dialog modal-100-margin-top">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"><strong>Danh sách cuộn vải theo mã màu</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="" style="background-color: #28a745; height: 3px"></div>
                <div class="">
                    <table class="table table-bordered table-item-color mb-0">
                        <thead class="sticky-thead">
                            <tr>
                                <th>#</th>
                                <th>Item Color</th>
                                <th>WO</th>
                                <th>Ass</th>
                                <th>Demand Yards</th>
                            </tr>
                        </thead>
                        <tbody id="item-color-table-body">

                        </tbody>
                        <!-- <tr>
                            <td>
                                WO: <strong><span id="txtWo"></span></strong> 
                            </td>
                            <td>
                                Ass: <strong><span id="txtAss"></span></strong>
                            </td>
                            <td>
                                Item Color: <strong><span id="txtItemColor"></span></strong>
                            </td>
                            <td>
                                Demand Yards: <strong><span class='text-danger' id="txtDemandYard"></span></strong>
                            </td>
                            <td>
                                Sum Fabric Roll Yards: <strong><span class='text-danger' id="txtFabricRollYard"></span></strong>
                            </td> -->
                        </tr>
                    </table>
                </div>
                <div class="modal-body p-0">
                    <div class="panel panel-default mb-0">
                        <!-- <div class="panel-heading d-flex pl-3 pt-2 pb-2">
                            <div class="col-md-6 pt-2 pb-2"></div>
                            <div class="col-md-6 text-right pr-3">
                                <button class="btn btn-success btn-sm" onclick="addRow()"><i class="fa fa-plus"></i>&nbsp; Thêm</button>
                            </div>
                        </div> -->
                        <div class="panel-body p-0">
                            <div class="col-sm-12 col-md-12 pl-0 pr-0 sticky-modal-table">
                                <table class="table table-hover table-bordered table-scrollable mb-0">
                                    <thead class="sticky-thead">
                                        <th>#</th>
                                        <th>Mã công</th>
                                        <th>Mã vải</th>
                                        <th>Mã màu</th>
                                        <th>RCUTWD</th>
                                        <th>LBS </th>
                                        <th>YDS </th>
                                        <th>Ghi chú</th>
                                        <th>BIN </th>
                                        <th>GRADE(1)</th>
                                        <th>SHADE </th>
                                    </thead>
                                    <tbody id="fabric-roll-table-body">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-0">
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Close</button>
                    <button class="btn btn-success btn-sm" onclick="confirmSelectedMarker()">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPreviewTicket" tabindex="-1" aria-hidden="false">
        <div class="modal-dialog modal-xlg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"><strong>Xem trước phiếu xuất vải</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="" style="background-color: #28a745; height: 3px"></div>
                <div class="modal-body p-0">
                    <div class="panel panel-default mb-0">
                        <div class="panel-heading text-center p-1"><b>Thông tin phiếu</b></div>
                        <div class="panel-body pr-0 pl-0">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <label for="">Received Date</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="txtPReceiveDate" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="">Received Time</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="txtPReceiveTime" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="">Group</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="txtPGroup" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="">Cut Date</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="txtPCutDate" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="">Created Date</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="txtPCreatedDate" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="">Week</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="txtPWeek" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="">Note</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="txtPNote">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-3 mb-0">
                        <div class="panel-heading d-flex p-0">
                            <div class="col-md-6 pt-2">
                                <b>Danh sách mã vải yêu cầu</b>
                            </div>
                        </div>
                        <div class="panel-body p-0">
                            <div class="col-sm-12 col-md-12 pl-0 pr-0 fabric-roll-table">
                                <table class="table table-hover table-bordered table-scrollable mb-0">
                                    <thead class="sticky-thead">
                                        <th>#</th>
                                        <th>Mã hàng</th>
                                        <th>WO</th>
                                        <th>Ass</th>
                                        <th>Demand yard</th>
                                        <th>Unipacks</th>
                                        <th>Yard</th>
                                        <th>Lbs</th>
                                        <th>Grade</th>
                                        <th>Location</th>
                                        <th>Shade</th>
                                    </thead>
                                    <tbody id="preview-fabric-table-body">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-0">
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/Contents/libs/download.min.js"></script>
    <script src="/Contents/libs/bootstrap-toastr/toastr.min.js"></script>
    <script src="/JS/HBI/Common/commonFactory.js"></script>
    <script src="/JS/HBI/Cutting/markerPlanDetail.js"></script>
</body>

</html>