<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabric Receive Scan Barcode</title>
    <link rel="stylesheet" href="/Contents/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-indigo.min.css" />

    <link rel="stylesheet" href="/Contents/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Contents/libs/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="/Contents/libs/bootstrap-toastr/toastr.min.css" />
    <link rel="stylesheet" href="/Contents/libs/select2/select2.min.css">
    <link rel="stylesheet" href="/Contents/css/main.css">

    <script src="/Contents/libs/jquery-1.10.2.min.js"></script>
    <script src="/Contents/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Contents/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/Contents/libs/select2/select2.min.js"></script>
    <script defer src="/JS/mdl/material.min.js"></script>

    <style>
        .datepicker {
            z-index: 9999 !important;
        }

        #lbCounted {
            font-size: 350px;
            text-align: center;
            align-items: center;
            vertical-align: middle;
            padding: 295px 0;
        }

        .scanned-table {
            height: 520px;
            overflow: auto;
            border: 1px solid #dddddd;
        }
        
    </style>

</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Cutting Fabric Receive</span>
                <%- include ("../../headerTemplate.ejs"); -%>
            </div>
        </header>
        <%- include ("../partials/navTemplate.ejs"); -%>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <div class="">
                        <div class="bg-white fabric-receive">
                            <div class="col-md-8 col-sm-12">
                                <div class="d-flex pr-4 mt-3">
                                    <div class="p-0">
                                        <div class="input-group">
                                            <a class="btn btn-success btn-sm" href='/cutting/fabric-receive'><i class="fa fa-arrow-left"></i> &nbsp; Back</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mt-3 mb-3">
                                    <div class="">
                                        <label class="">WO</label>
                                        <input type="text" class="form-control" id="txtWo" placeholder="Mã work order" />
                                    </div>
                                    <div class="ml-2">
                                        <label class="">Mã cuộn vải</label>
                                        <input type="text" class="form-control" id="txtRollCode" onkeydown="scanBarcode()" placeholder="Mã cuộn vải" />
                                    </div>
                                    <div class="ml-2">
                                        <div class="mb-2">&nbsp;</div>
                                        <button class="btn btn-success" onclick="addRecord()">Submit</button>
                                    </div>
                                </div>
                                <label class="">Danh sách cuộn vải đang quét</label>
                                <div class="col-sm-12 col-md-12 pl-0 pr-0 scanned-table">
                                    <table class="table table-hover table-bordered table-scrollable mb-0">
                                        <thead class="sticky-thead">
                                            <th>#</th>
                                            <th>Mã WO</th>
                                            <th>Mã cuộn</th>
                                            <th>Thời gian quét</th>
                                            <th>Mã WO</th>
                                            <th>Mã WO</th>
                                            <th>Mã WO</th>
                                            <th></th>
                                        </thead>
                                        <tbody id="scanned-table-body">

                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="col-sm-12 col-md-12 pl-0 pr-0">
                                    <label class="">Danh sách cuộn vải đang quét</label>
                                    <table class="table table-hover table-bordered table-scrollable mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Mã WO</th>
                                                <th>Mã cuộn</th>
                                                <th>Thời gian quét</th>
                                                <th>Mã WO</th>
                                                <th>Mã WO</th>
                                                <th>Mã WO</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="onscrollbar" style="overflow: auto; height: 480px; border: 1px solid #dddddd">
                                        <table class="table table-hover table-bordered m-0">
                                            <tbody id="scanned-table-body">

                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="">
                                    <p id="lbCounted">0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </main>
    </div>

    <!-- Modal receive history -->
    <div class="modal fade" id="modalReceiveHistory" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-90-margin-top">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"><strong>Lịch sử quét vải</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="d-flex pl-3 pr-3 mt-3">
                        <div class="p-0 pl-2 mb-3">
                            <div class="btn-group btn-filter">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                                    <span class="fa fa-search"></span> Filter
                                </button>
                                <div class="dropdown-menu p-3" style="width: 300px;">
                                    <form class="form-inline" id="">
                                        <div>
                                            <div class="w-100">
                                                <p class="mb-1"><strong>Thời gian</strong></p>
                                                <select class="form-control w-100" name="" id="txtFilterTime" onchange="changeDateFilter()">

                                                </select>
                                            </div>
                                        </div>
                                        <div id="filterTime" style="display: none">
                                            <div class="d-flex">
                                                <div class="">
                                                    <p class="mb-1"><strong>Từ ngày</strong></p>
                                                    <input type="text" class="form-control w-100 isDate" id="txtFilterFrom" />
                                                </div>
                                                <div class="ml-2">
                                                    <p class="mb-1"><strong>Đến ngày</strong></p>
                                                    <input type="text" class="form-control w-100 isDate" id="txtFilterTo" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="justify-content-between align-items-center mt-3 text-right">
                                            <button type="button" class="btn btn-success btn-sm" onclick="downloadHistory()">Download</button>
                                            <button type="button" class="btn btn-success btn-sm" onclick="loadHistory()">Search</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive onscrollbar pl-4 pr-4">
                        <table class="table table-hover table-bordered table-scrollable mb-0">
                            <thead class="sticky-thead">
                                <tr>
                                    <th>#</th>
                                    <th>WO</th>
                                    <th>Mã cuộn vải</th>
                                    <th>Thời gian quét</th>
                                </tr>
                            </thead>
                            <tbody id="history-table-body">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer pr-0">
                    <div class="col-sm-12 col-md-12">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalUploadData" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"><strong>Upload dữ liệu nhận vải</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>File: </td>
                                                <td>
                                                    <div class="ml-3 upload-btn-wrapper">
                                                        <button class="btn btn-light" style="width: 116px;">Click here</button>
                                                        <input type="file" name="UploadedFile" id="fileFabricReceiveUpload" onchange="uploadExcel()" accept=".xlsx, .xls">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Sheet: </td>
                                                <td>
                                                    <div class="ml-3 upload-btn-wrapper">
                                                        <select class="form-control selected-sheet" id="selected-sheet" style="width: 116px;"></select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Header row: </td>
                                                <td>
                                                    <div class="ml-3 upload-btn-wrapper">
                                                        <input type="text" name="name" class="form-control" id="selected-header" value="1" style="width: 116px">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>Your selected file: </td>
                                                <td><span class="label label-warning ml-3 fileUploadName" id="fileUploadName"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer pr-0">
                    <div class="col-sm-12 col-md-12">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" onclick="saveUploadData()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Contents/libs/download.min.js"></script>
    <script src="/Contents/libs/bootstrap-toastr/toastr.min.js"></script>
    <script src="/JS/HBI/Common/commonFactory.js"></script>
    <script src="/JS/HBI/Cutting/fabricreceive.js"></script>
</body>

</html>