<style>
    .mdl-layout__drawer {
        width: 300px;
        left: -250px;
    }
    .mdl-layout__drawer.is-visible {
        left: 0;
    }
  
    .mdl-navigation__link{
        color: black!important;
        font-size: 14px;
    }

    .mdl-navigation__link i{
        margin-right: 20px
    }

    .full-overlay {
            /*display: none;*/
            position: fixed;
            /* background: rgba(0, 0, 0, 1); */
            opacity: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            -webkit-transition: opacity .3s ease;
            -moz-transition: opacity .3s ease;
            -o-transition: opacity .3s ease;
            transition: opacity .3s ease;
        }

        #mainLoadingSVG {
            position: fixed;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            width: 40px;
            height: 40px;
            z-index: 1000000;
            background: #fff;
            padding: 3px;
            border-radius: 50%;
            display: none;
        }

</style>
<div class="mdl-layout__drawer" style="border: none;">
    <div class="sidebar-header">
        <span class="mdl-layout-title" style="color: white; font-size: 30px; margin: 50px 20px;">INNOVATION</span>
        <div class="mdl-layout-spacer"></div>
    </div>
    
    <nav class="mdl-navigation">
        <div style="margin-left: 40px;"><b>Vận Hành</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/innovation/dashboard">
            <i class="material-icons" style="margin-right: 20px;">bar_chart</i>
            Dashboard
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/innovation">
            <i class="material-icons" style="margin-right: 20px;">build</i>
            Quản lý spare part
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/innovation/machine">
            <i class="material-icons" style="margin-right: 20px;">settings</i>
            Quản lý machine, model
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/innovation/realtime">
            <i class="material-icons" style="margin-right: 20px;">precision_manufacturing</i>
            Tình trạng máy realtime
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/innovation/machine-position">
            <i class="material-icons" style="margin-right: 20px;">dashboard_customize</i>
            Vị trí máy
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/innovation/realtime/workcenter">
            <i class="material-icons" style="margin-right: 20px;">precision_manufacturing</i>
            Sewing needle realtime
        </a>
        <hr>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/innovation/import">
            <i class="material-icons" style="margin-right: 20px;">inventory</i>
            Nhập hàng từ vendor
        </a>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/innovation/user">
            <i class="material-icons" style="margin-right: 20px;">group</i>
            Quản lý nhân sự
        </a>
        <hr>
        <div style="margin-left: 40px;"><b>Trở Về</b></div>
        <a class="mdl-navigation__link" style="color: black; font-size: 14px;" href="/">
            <i class="material-icons" style="margin-right: 20px;">keyboard_backspace</i>
            Trang Chủ
        </a>
        <div class="text-right developer">Contact dev: <a href="mailto:Tuyen.Nguyen@hanes.com">Tuyen.Nguyen@hanes.com</a></div>
    </nav>
</div>
<!-- Loading -->
<div class="full-overlay"></div>
<img id="mainLoadingSVG" src="/Image/oval.svg" />