<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>About</title>
</head>
<body>
    <div class="container-fluid">
        <%- include('../partials/header') -%>
        <div class="content">
            <p> Trang web này được tạo ra nhằm mục đích tạo ra một hệ thống kiểm soát các hoạt động của máy móc trong nhà máy một cách chuyên nghiệp, dễ sử dụng , hiệu suất cao.</p>
            <p>Thanks & Best regards!</p>
            <p class="content-name">Bui Dong</p>
            <p> Mọi thắc mắc vui lòng liên hệ qua email : Bui.dong@hanes.com</p>
        </div>
        <%- include('../partials/footer') -%>       
    </div>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>